.topLogo{
    color:green;
}

.yes{
    background-image: url("dadSwinging.jpg");
    background-size:100%;
    width:100%;
    background-repeat: no-repeat;
    height:300px;


    
}
button{
    width:100%;
    height:50px;
    text-align:center;
    background-color: #ffe3a8;
}